*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Monorepo ignores
/backend/node_modules/
/backend/dist/
/backend/.env
/Frontend/build/
local.properties
*.hprof
java_pid*.hprof

hs_err_pid*.log

replay_pid*.log
